<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @email_template.name %>
</p>

<p>
  <b>Subject:</b>
  <%= @email_template.subject %>
</p>

<p>
  <b>Body:</b>
  <%= @email_template.body %>
</p>

<p>
  <b>Emailtype:</b>
  <%= @email_template.emailtype %>
</p>


<%= link_to 'Edit', edit_email_template_path(@email_template) %> |
<%= link_to 'Back', email_templates_path %>
